artifacts/*
!artifacts/.gitkeep
logs/*
!logs/.gitkeep
model/*_ert_rtw/
model/slprj/
model/*.dll
model/*.exp
model/*.lib
model/*.obj
model/*.pdb
model/*.so
model/*.zip
model/*.slxc
model/*.slx.r20*
settings.local.json
*.asv
*.autosave
slprj/
